body{
	background-color:  #9ab7d7;
}
/*Head display flex to align image and text.*/
/*If better way to combine the three id's to make less messy, please let me know */
#head{
    display: flex;
    border-style: dotted;
    
}
#image{
    border-style: solid;
}
#central{
    font-size: 75px;
    text-shadow: 0 0 6px #287fdb;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 75px;
    align-self: center;
    text-decoration: underline;
    
}

/*Added float to center nav and content in columns.*/
/*Font size enlarged for better readability*/
.left-column{
    float: left;
    width: 15% ;
    padding: 11px;
    font-size: 25px;
}

.main-content{
    font-size: 30px;
    float: left;
    width: 450px;
    font-family: 'Times New Roman', Times, serif;
}
/*h2 tag given a color shadow.*/
h2{
    font-family: 'Times New Roman', Times, serif;
    color: #080606;
	text-shadow:0 0 2px rgb(152, 13, 152);
    font-size: 30px;
}

/*Images floated and padded to create a third column*/
#side-image{
    float: left;
    padding-left: 100px;
    padding-bottom: 50px;
    font-size: 20px;

/*Images given borders*/
}
.image1{
    border-style: solid;
    
}
